/** Centers the text in the objective textarea for the right room **/
#objectiveRight *.text {
    -fx-text-alignment: center;
    padding: 30px 0;
}

/* Normal state style */
.highlight-rectangle {
    fill: transparent;
    stroke: black;
    /* Border color */
    stroke-width: 2;
    /* Border width */
}

/* Hovered state style */
.highlight-rectangle:hover {
    stroke: red;
    /* Change border color on hover */
}