/** Centers the text in the objective textarea for the right room **/
#objectiveRight *.text {
  -fx-text-alignment: center;
  padding: 30px 0;
}

/* Normal state style */
.highlight-rectangle {
  fill: transparent;
  stroke: black;
  /* Border color */
  stroke-width: 2;
  /* Border width */
}

/* Hovered state style */
.highlight-rectangle:hover {
  stroke: red;
  /* Change border color on hover */
}

/* First custom button style */
.accept {
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #00FF00;
  -fx-border-width: 5px;
}

.accept:hover {
  -fx-background-color: #00FF00;
  -fx-text-fill: rgb(0, 0, 0);
}

.accept:pressed {
  -fx-background-color: rgb(121, 231, 121);
  -fx-text-fill: rgb(0, 0, 0);
}

/* Second custom button style */
.decline {
  -fx-background-color: rgb(238, 33, 33);
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #ef0f0f;
  -fx-border-color: #e72323;
  -fx-border-width: 5px;
}

.decline:hover {
  -fx-background-color: #fe1f1f;
  -fx-text-fill: rgb(0, 0, 0);
}

.decline:pressed {
  -fx-background-color: rgb(242, 80, 80);
  -fx-text-fill: rgb(0, 0, 0);
}

.text-area {
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #00FF00;
  -fx-border-width: 5px, 5px, 5px, 5px
}

.list-view {
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #00FF00;
  -fx-border-width: 5px, 5px, 5px, 5px
}

.text-area .scroll-pane {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
  -fx-background-color: transparent;
}

.titlearea {
  -fx-background-color: rgb(0, 0, 0);
  -fx-border-color: #000000;
  -fx-text-fill: #ff0000;
  -fx-text-alignment: justify;
}

.difficulty {
  -fx-alignment: center;
  -fx-text-fill: #ffffff
}

.lose {
  -fx-alignment: center;
  -fx-text-fill: #ff0000
}

.titlerings {
  -fx-fill: transparent;
  -fx-stroke: rgb(255, 0, 0);
  -fx-stroke-width: 10;
}

/* Disables horizontal scroll bar in list view */
.list-view .scroll-bar:horizontal {
  -fx-scale-x: 0;
}

.keypad-button {
  -fx-background-color: #d97836;
  -fx-text-fill: #000;
  -fx-border-color: #030000;
  -fx-border-width: 3px;
}

/* LEFT ROOM CSS */

.passcode {
  -fx-background-color: rgb(0, 0, 0);
  -fx-border-color: rgb(122, 122, 122);
  -fx-border-width: 2px;
  -fx-text-fill: rgb(255, 255, 255);
}

.encrypted {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: black;
}

.slider {
  -fx-base: #eceff1;
}

.slider .thumb {
  -fx-background-color: transparent;
  /* Hide default background */
  -fx-background-radius: 0;
  /* Remove rounding */
  -fx-background-insets: 0;
  /* Remove insets */
  -fx-pref-width: 30px;
  /* Your image width */
  -fx-pref-height: 30px;
  /* Your image height */
  -fx-background-image: url('/images/slider.png');
  -fx-background-size: 30px 30px;
  /* Set to your image size */
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.slider .track {
  -fx-background-color: transparent;
  -fx-border-color: #90a4ae;
  -fx-border-radius: 3;
  -fx-border-width: 0.5;
}

.commSlider .thumb {

  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-padding: 7;
}

.passcodelabel {
  -fx-background-color: rgb(53, 53, 53);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #afafaf;
  -fx-border-width: 3px;
}

/*Chatbox styling*/
.list-cell {
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.list-view {
  -fx-control-inner-background: #f4f4f4;
  /* Changing the inner background of the listview */
}

/*TESTING TEMPLATE UI*/

.uiTextAreainventory {
  -fx-background-color: rgb(53, 53, 53);
  -fx-text-fill: #000000;
  -fx-font-smoothing-type: green;
  -fx-border-color: #afafaf;
  -fx-border-width: 3px;
}

.uiTextAreaChat {
  -fx-background-color: rgb(53, 53, 53);
  -fx-text-fill: #ffffff;
  -fx-font-smoothing-type: green;
  -fx-border-color: #afafaf;
  -fx-border-width: 3px;
}

.uiTextAreaCommander {
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #00ff2a;
  -fx-font-smoothing-type: green;
  -fx-border-color: #0bb443;
  -fx-border-width: 3px;
}

.uiNotePad {
  -fx-background-radius: 10, 10, 10, 10;
  -fx-background-color: rgb(92, 92, 92);
  -fx-text-fill: #000000;
  -fx-font-smoothing-type: grey;
  -fx-border-color: #afafaf;
  -fx-border-width: 3px;
}

/* First custom button style */
.send {
  -fx-background-color: rgb(53, 53, 53);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #afafaf;
  -fx-border-width: 3px;
}

.send:hover {
  -fx-background-color: #00FF00;
  -fx-text-fill: rgb(0, 0, 0);
}

.send:pressed {
  -fx-background-color: rgb(121, 231, 121);
  -fx-text-fill: rgb(0, 0, 0);
}