.text-area {
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: #00FF00;
  -fx-font-smoothing-type: green;
  -fx-border-color: #00FF00;
  -fx-border-width: 5px, 5px, 5px, 5px
}

.text-area .scroll-pane {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
  -fx-background-color: transparent;
}